<main>
  <app-header-bar></app-header-bar>
  <router-outlet></router-outlet>
</main>

<aside>

  <h2>Opdracht 1</h2>

  <p>In deze opdracht ga je aan de slag met applicatie-state.</p>

  <p>
    Component-klassen kunnen properties hebben, die een component-state kunnen bijhouden. Informatie tussen
    componenten
    kan worden uitgewisseld door middel van @Input() en @Output(). Dat blijft echter beperkt tussen componenten die
    tegelijkertijd op het scherm gerenderd worden.
  </p>

  <p>
    Deze applicatie bestaat uit twee routes: first-screen en second-screen. De component SecondScreen heeft informatie
    nodig van van FirstScreen. Deze twee componenten staan niet tegelijkertijd op het scherm, en kunnen dus niet door
    middel van @Input() en @Output() informatie aan elkaar doorgeven. Heb je een idee hoe dat wel zou kunnen?
  </p>

  <h2>Stappen</h2>

  <ol>
    <li>
      In FirstScreen wordt aan de gebruiker gevraagd om zijn naam in te typen. Als je op next klikt dan gaat de
      gebruiker naar SecondScreen, waar de gebruiker met zijn naam begroet wordt. Bij het renderen van het tweede
      scherm verdwijnt de FirstScreen-component uit het geheugen. Services blijven echter in het geheugen aanwezig.
      Schrijf zelf een service waarin de naam van de gebruiker wordt onthouden. Injecteer deze in zowel FirstScreen
      als SecondScreen. Gebruik de service om de naam van de gebruiker van het eerste neer het tweede scherm te
      krijgen, en druk de naam van de gebruiker af op het tweede scherm.
    </li>

    <li>
      Test je applicatie. Vul je naam in en ga naar het tweede scherm. Druk op refresh. Wat gebeurt er? Waarom?
    </li>

    <li>
      De derde component van deze applicatie is een header-bar die zowel op het eerste scherm als op het tweede scherm
      getoond wordt. Ook in de header-bar wordt getoond wat je naam is. Kun je met behulp van een BehaviorSubject in je
      service ervoor zorgen dat de naam in de header-bar wordt aangepast, zodra je je naam in het formulier op scherm 1
      wijzigt?
    </li>

  </ol>
</aside>
